$whitey: #fafafa;
$header-title: #8f94a1;
$main-orange: #f18d68;
$grey: #aaa;
$light-grey: #ddd;
$dark-grey: #333;
$violet: #7d6fd8;
$black: #000;
$heart-red: #cf2a2a;
$white: #fff;
$scroll-to-top: rgb(10, 92, 2);
