@import "colors";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  padding: 10px;
  background: $header;
  text-align: left;
  border-bottom: 1px solid $light-grey;

  &-mail {
    color: $header-title;
    margin-bottom: 0.5rem;

    &-title {
      color: $main-orange;
    }
  }

  &-social {
    margin-bottom: 1rem;
    ul {
      display: flex;
      justify-content: flex-end;
      padding-right: 1rem;
      li {
        margin-left: 1rem;
        a {
          color: $main-orange;
        }
      }
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
  background: $light-grey;

  &-logo {
    width: 100px;
    border-radius: 50%;
    margin-left: 30px;
    opacity: 0.8;
  }

  &-burger {
    height: 50px;
    width: 50px;
    margin: auto 30px auto auto;
    border: none;
    background: none;

    &:active,
    &:hover,
    &:focus {
      outline: none;
    }

    span {
      display: inline-block;
      width: 30px;
      height: 4px;
      background: $main-orange;
      border-radius: 50px;
      margin-bottom: 2px;

      &::before {
        content: "";
        position: absolute;
        margin: -8px -15px;
        width: 30px;
        height: 4px;
        background: $main-orange;
        border-radius: 50px;
      }

      &::after {
        content: "";
        position: absolute;
        margin: 8px -15px;
        width: 30px;
        height: 4px;
        background: $main-orange;
        border-radius: 50px;
      }
    }
  }

  &-burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    background: $violet;
    padding: 10px;
    width: 90%;
    height: 100vh;
    transform: translateX(800px);
    transition: 2s;
    z-index: 10;

    &-close {
      height: 50px;
      width: 50px;
      margin-left: calc(100% - 50px);
      border: none;
      background: transparent;
      margin-bottom: 1rem;
      outline: none;

      span {
        margin-bottom: 2px;
        display: inline-block;
        width: 30px;
        height: 4px;
        background: $main-orange;
        border-radius: 50px;
        transform: rotate(45deg);

        &::before {
          content: "";
          position: absolute;
          margin: 0px -15px;
          width: 30px;
          height: 4px;
          background: $main-orange;
          border-radius: 50px;
          transform: rotate(90deg);
        }
      }
    }
    &-logo {
      display: flex;

      .nav-logo {
        margin-right: 1rem;
        margin-left: 10px;
      }

      .logo-add {
        justify-self: center;
        align-self: center;
        text-align: center;
        color: $main-orange;
        display: flex;
        flex-direction: column;

        span {
          font-size: 1.3rem;
          color: black;
        }
      }
    }

    &-list {
      color: white;
      margin-top: 3rem;
      font-size: 1.2rem;
      li {
        margin-bottom: 1rem;
        margin-left: 1rem;
      }
    }
  }
}

#main {
  .main-wrapper {
    position: relative;
    overflow: hidden;

    .main-pic {
      max-width: 1200px;
      object-fit: cover;
      width: 100%;
    }
    .main-button {
      position: absolute;
      right: 20px;
      bottom: 40px;
      width: 100px;
      height: 40px;
      border-radius: 30px;
      background: $light-grey;
      color: $main-orange;
      font-weight: bold;
      font-size: 1rem;
      outline: none;
    }
  }
}

#about {
  margin: 1rem auto;
  padding: 15px;
}

.slider {
  display: flex;
  background: $light-grey;
  padding-top: 15px;
  .item {
    width: 350px;
    margin-bottom: 1rem;

    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      margin: auto;
    }
  }
}

#how-to {
  padding: 15px;
}

#our-dogs {
  background: $light-grey;

  .small-title {
    text-align: center;
    padding-top: 1rem;
    color: $main-orange;
    margin-bottom: 0.5rem;
  }

  .mini-info {
    text-align: center;
    margin-bottom: 0.5rem;
  }

  .our-dogs-item {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    img {
      width: 90%;
      margin: auto;
      margin-bottom: 1rem;
      z-index: 1;
    }

    .fa-heart {
      position: absolute;
      top: 10px;
      right: 10%;
      font-size: 2rem;
      color: $heart-red;
      display: none;
      z-index: 2;
    }

    .our-dogs-item-info {
      position: absolute;
      line-height: 2rem;
      font-size: 1rem;
      color: $dog-info;
      font-weight: bold;
      width: 90%;
      left: 5%;
      padding-left: 10px;
      margin: 0 auto;
      background: rgba(0, 0, 0, 0.7);
      height: calc(100% - 1rem);
    }
  }
}
