@import "colors";
@import "utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  padding: 10px;
  background: $header;
  text-align: left;
  border-bottom: 1px solid $light-grey;
  margin-bottom: 1rem;

  &-mail {
    color: $header-title;
    margin-bottom: 0.5rem;

    &-title {
      color: $main-orange;
    }
  }

  &-social {
    margin-bottom: 1rem;
    ul {
      display: flex;
      justify-content: flex-end;
      padding-right: 1rem;
      li {
        margin-left: 1rem;
        a {
          color: $main-orange;
        }
      }
    }
  }
}
.nav {
  display: flex;
  justify-content: space-between;

  &-logo {
    width: 100px;
    border-radius: 50%;
    margin-left: 30px;
    opacity: 0.8;
  }

  &-burger {
    height: 50px;
    width: 50px;
    margin: auto 30px auto auto;
    border: none;
    background: none;

    &:active,
    &:hover,
    &:focus {
      outline: none;
    }

    span {
      display: inline-block;
      width: 30px;
      height: 4px;
      background: $grey;
      border-radius: 50px;
      margin-bottom: 2px;

      &::before {
        content: "";
        position: absolute;
        margin: -8px -15px;
        width: 30px;
        height: 4px;
        background: $grey;
        border-radius: 50px;
      }

      &::after {
        content: "";
        position: absolute;
        margin: 8px -15px;
        width: 30px;
        height: 4px;
        background: $grey;
        border-radius: 50px;
      }
    }
  }

  &-burger-menu {
    position: fixed;
    top: 0;
    right: 0;
    background: $violet;
    padding: 10px;
    width: 90%;
    height: 100vh;
    transform: translateX(800px);
    transition: 2s;

    &-close {
      height: 50px;
      width: 50px;
      margin-left: calc(100% - 50px);
      border: none;
      background: rgba(0, 0, 0, 0.1);
      margin-bottom: 1rem;

      span {
        margin-bottom: 2px;
        display: inline-block;
        width: 30px;
        height: 4px;
        background: $grey;
        border-radius: 50px;
        transform: rotate(45deg);

        &::before {
          content: "";
          position: absolute;
          margin: 0px -15px;
          width: 30px;
          height: 4px;
          background: $grey;
          border-radius: 50px;
          transform: rotate(90deg);
        }
      }
    }
    &-logo {
      display: flex;

      .nav-logo {
        margin-right: 1rem;
        margin-left: 10px;
      }

      .logo-add {
        justify-self: center;
        align-self: center;
        text-align: center;
        color: $main-orange;
        display: flex;
        flex-direction: column;

        span {
          font-size: 1.3rem;
          color: black;
        }
      }
    }

    &-list {
      color: white;
      margin-top: 3rem;
      font-size: 1.2rem;
      li {
        margin-bottom: 1rem;
        margin-left: 1rem;
      }
    }
  }
}
